.card{
    border: 1px solid rgb(80, 80, 80);
    padding: 16px;
    border-radius: 16px;
    width: 330px;
    text-align: center;
    background-color: rgb(226, 226, 226);
    transition: all 0.15s;
}

.card:hover {
    box-shadow: 3px 3px rgb(129, 129, 129);
    translate: -3px -3px;
}
.car h2{
    font-size: 32px;
    font-family: sans-serif;
}

.card img {
    width: 100%;
    border-radius: 16px;
}