*{
    text-decoration: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.card {
    color: rgb(46, 46, 46);
    border: 2px solid blueviolet;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    max-height: 430px;
    text-align: center;
    background-color: rgb(245, 226, 255);
    transition: all 0.15s;
}

.card:hover {
    cursor: pointer;
    box-shadow: 3px 3px rgb(129, 129, 129);
    translate: -3px -3px;
}
.card h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 10px solid blueviolet;
}

.card img {
    width: 100%;
    height: 50%;
    border-radius: 16px;
}

.card .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 16px;
}

.card .tags div {
    background-color: rgb(197, 203, 255);
    border: 2px solid rgb(91, 107, 255);
    color: rgb(46, 46, 46);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transition: all 0.15s;
}
.card .tags div:hover {
    cursor: pointer;
    box-shadow: 3px 3px rgb(129, 129, 129);
    translate: -3px -3px;
}